.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color:#92c7a3;
}
.home{
    color: #DFECE6 !important;
}

@media (max-width:460px) {
    h1{
        width: 80vw;
   
    }
}