form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plan{font-size: larger;
    letter-spacing: 0.09rem;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;  
    text-align: center;
    color:#dfece6;
    }
.busqueda{
    width:400px;
}

    
