*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}
body{
    background-color: #215a6d;
}
.imagen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
img{
    height: 160px;
    width: 160px;
    margin-top: 25px;
    margin-right: 25px;
    
}
@media (max-width:460px) {
    img{
        width:120px ;
        height: 120px;
        margin-bottom: 25px;
    }
}

